body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 50px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #1D4E89;
    border-radius: 4px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #1D4E89;
}
